@font-face {
  font-family: 'Fantasque Sans Mono';
  font-weight:200;
  font-size:14px;
  src: local('Fantasque Sans Mono'), local('Fantasque Sans Mono'), url('../FantasqueSansMono-Regular.ttf') format('truetype');
}

body {
  font-family: 'Fantasque Sans Mono';
  background-color:#263238;
  color:white;
}

/* Colors:
background: #263238
current-line #37474f
far-background #1c1f26
inactive-gray #78909c
header-color #455A64
subtle #a7adba
selection #555555
secondary-selection #bf616a
foreground #ffffff
comment #b0bec5
red #f36c60
orange #ff9800
yellow #fff59d
green #8bc34a
aqua #81d4fa
blue #4dd0e1
purple #b39ddb
*/

h1 {
    font-size:5em;
    margin:0;
    color:#81d4fa;
    font-weight:200;
}

a {
    color:#4dd0e1;
    background-color:#555555;
}

a:hover {
    color:#81d4fa;
    background-color:#bf616a;
}

quote {
    color:#b0bec5;
}