@font-face {
  font-family: 'Fantasque Sans Mono';
  font-weight:200;
  src: local('Fantasque Sans Mono'), local('Fantasque Sans Mono'), url('//gildasch.github.io/assets/FantasqueSansMono-Regular.ttf') format('truetype');
}

body {
  font-family: 'Fantasque Sans Mono';
  background-color:#263238;
  color:white;
  font-size:18px;
  box-shadow: rgba(0, 0, 0, 0.05) 13px 0px 10px 2px;
  max-width:1000px;
  margin:auto;
}

/* Colors:
background: #263238
current-line #37474f
far-background #1c1f26
inactive-gray #78909c
header-color #455A64
subtle #a7adba
selection #555555
secondary-selection #bf616a
foreground #ffffff
comment #b0bec5
red #f36c60
orange #ff9800
yellow #fff59d
green #8bc34a
aqua #81d4fa
blue #4dd0e1
purple #b39ddb
*/

#header {
    font-size:4em;
    margin:0;
    // color:#81d4fa;
    color:#78909c;
    font-weight:200;
    text-align:center;
}

#content {
}

#footer {
    margin-top:30px;
    padding-bottom:10px;
    color:#78909c;
    text-align:center;
    background-image:url('../images/gildas2.jpg');
    background-position:top center;
    background-repeat:no-repeat;
    padding-top:170px;
    border-top:1px solid #78909c;
}

h1 {
    color:#f36c60;
}

h2 {
    color:#8bc34a;
}

h3 {
    // orange color:#ff9800;
    color:#fff59d;
}

h4 {
    // color:#b0bec5;
    color:#81d4fa;
}

em {
}

strong {
    color:#b0bec5;
    font-weight:normal;
}

a {
    color:#4dd0e1;
    background-color:#555555;
}

a:hover {
    color:#81d4fa;
    background-color:#bf616a;
}

quote, blockquote {
    background-color:#37474f;
}

blockquote {
    padding:2px;
    border-left:3px solid white;
    margin-left:20px;
    padding-left:20px;
}
