@font-face {
  font-family: 'Fantasque Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fantasque Sans Mono'), local('Fantasque Sans Mono'), url('//gildasch.github.io/assets/FantasqueSansMono-Regular.ttf') format('truetype');
}

body {
  font-family: 'Fantasque Sans Mono';
}
